APP_NAME=AnimeThemes
APP_URL=http://animethemes-rust.test
APP_PORT=
LOCO_ENV=development
APP_KEY=
LOG_LEVEL=debug
RUST_LOG=error
RUST_BACKTRACE=1

# Database
DATABASE_URL=mysql://root@mysql:3306/animethemes
DB_PORT=3306
DB_DATABASE=animethemes
DB_PASSWORD=

# Files
AUDIO_URL=https://a.animethemes.moe
IMAGE_URL=
SCRIPT_URL=https://script.animethemes.moe
VIDEO_URL=https://v.animethemes.moe

# Hashids
HASHIDS_SALT=

# Mail
MAILGUN_DOMAIN=
MAILGUN_SECRET=
MAILGUN_ENDPOINT=api.mailgun.net
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_FROM_ADDRESS=admin@animethemes.moe
MAIL_FROM_NAME="${APP_NAME}"

# Typesense
TYPESENSE_URL=http://typesense:8108
TYPESENSE_API_KEY=
FORWARD_TYPESENSE_PORT=

# Client
CLIENT_PROFILE_URL="${APP_URL}:3000/profile"
CLIENT_RESET_PASSWORD_URL="${APP_URL}:3000/profile/reset-password?token="